@import './theme/sketchy/variables';
@import '~bootstrap/scss/bootstrap';
@import './theme/sketchy/bootswatch';

.navbar.bg-orange {
  border-radius: 0 25px 55px 0/0 55px 25px 0;
  border-color: darkred;
}

.bg-orange {
  background-color: orangered;
}

.bg-orange .nav-pills {
  --bs-nav-pills-link-active-bg: #FA7E4A;
}

.bg-orange .dropdown-menu{
  --bs-dropdown-bg: #FA7E4A;
}