@import './theme/material/variables';
@import '~bootstrap/scss/bootstrap';
@import './theme/material/bootswatch';

.navbar.bg-violet {
  // border-radius: 0 25px 25px 0/0 25px 25px 0;
  border-color: rgb(131, 60, 250);
}

.bg-violet {
  background-color: rgb(131, 60, 250);
}

.bg-violet .nav-pills {
  --bs-nav-pills-link-active-bg: rgb(38, 38, 38);
}

.bg-violet .dropdown-menu{
  --bs-dropdown-bg: rgb(38, 38, 38);
}